.all > .footer > .center > .start {
  width: 50px;
  height: 50px;
  background: url(img/start.png) no-repeat;
  background-size: contain;
  position: relative;
}
.all > .footer > .center > .start > .name {
  background: black;
  border-radius: 3px;
  color: white;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  position: absolute;
  top: -40px;
  left: -10px;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s 0.5s;
}

.all > .footer > .center > .start:hover > .name {
  opacity: 1;
  visibility: visible;
}
.all > .footer > .center > .start > .startList {
  width: 550px;
  height: 600px;
  background-color: grey;
  border-radius: 10px;
  position: absolute;
  bottom: 60px;
  left: -75px;
  opacity: 0;
  visibility: hidden;
}
.all > .footer > .center > .start > .startList > .up {
  height: 55%;
  width: 95%;
  /* background: red; */
  display: flex;
  flex-flow: row-reverse wrap;
  align-content: end;
  gap: 60px;
  justify-content: baseline;
  position: relative;
}
.all > .footer > .center > .start > .startList > .up > h4 {
  position: absolute;
  top: 60px;
}
.all > .footer > .center > .start > .startList > .up > #menu01 {
  width: 40px;
  /* height: 23px; */
  border: 1px solid rgba(128, 128, 128, 0.865);
  border-radius: 7px;
  position: absolute;
  right: 40px;
  top: 80px;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  line-height: 25px;
  padding: 3px;
  background: black url(img/start/right.png) no-repeat 80% 50%;
  background-size: 25%;
  color: aliceblue;
}
.all > .footer > .center > .start > .startList > .up > .inputHolder {
  position: absolute;
  top: 25px;
  width: 95%;
  height: 30px;
  border-radius: 30px;
  border: 1px solid rgb(84, 83, 83);
  text-align: left;
  background: url(img/start/searchh.png) no-repeat 8px 5px;
  background-size: 20px;
}
.all > .footer > .center > .start > .startList > .up > .inputHolder > input {
  width: 90%;
  height: 90%;
  border: 0 none;
  outline: 0 none;
  text-align: left;
  left: 30px;
  position: absolute;
  background-color: transparent;
}
.all > .footer > .center > .start > .startList > .up > .items {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 10px;
  line-height: -100px;
  transition: 0.5s;
}
.all > .footer > .center > .start > .startList > .up > .items:hover {
  transform: scale(1.2);
}
.all > .footer > .center > .start > .startList > .up > .items > img {
  width: 100%;
  height: 100%;
}
.all > .footer > .center > .start > .startList > .down {
  width: 90%;
  padding: 20px;
  height: 20%;
  direction: ltr;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
}
.all > .footer > .center > .start > .startList > .down > h4 {
  position: absolute;
  top: 10px;
}
.all > .footer > .center > .start > .startList > .down > #menu02 {
  width: 40px;
  /* height: 23px; */
  border: 1px solid rgba(128, 128, 128, 0.865);
  border-radius: 7px;
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  line-height: 25px;
  padding: 3px;
  background: black url(img/start/right.png) no-repeat 80% 50%;
  background-size: 25%;
  color: aliceblue;
}
.all > .footer > .center > .start > .startList > .down > .items {
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  font-size: 10px;
  line-height: -100px;
  transition: 0.5s;
  margin-top: 80px;
}
.all > .footer > .center > .start > .startList > .down > .items:hover {
  transform: scale(1.2);
}
.all > .footer > .center > .start > .startList > .down > .items > img {
  width: 100%;
  height: 100%;
}

.all > .footer > .center > .start > .startList > .startFooter {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(64, 63, 63);
  position: relative;
}
.all > .footer > .center > .start > .startList > .startFooter > .myName {
  width: 100px;
  background: url(img/start/19.png) no-repeat;
  background-size: contain;
  height: 60%;
  position: absolute;
  top: 10px;
  left: 35px;
}
.all > .footer > .center > .start > .startList > .startFooter > #power {
  width: 15px;
  background: url(img/start/20.png) no-repeat;
  background-size: contain;
  height: 65px;
  position: absolute;
  top: 15px;
  right: 35px;
}
